name: Generate and Deploy Images

on:
  schedule:
    - cron: '15 10 * * *' # 每天夏令时 20:15 UTC 执行一次
    - cron: '30 20 * * *' # 每天夏令时 20:15 UTC 执行一次
    #- cron: '*/5 * * * *'  # 每天夏令时 20:15 UTC 执行一次
    - cron: '15 20 * * *' # 每天夏令时 20:15 UTC 执行一次
  workflow_dispatch:      # 允许手动触发
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          
      - name: fonts
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            fonts-wqy-microhei \
            fonts-wqy-zenhei \
            fonts-noto-cjk \
            fontconfig
          
          # 刷新字体缓存
          sudo fc-cache -fv
          
          # 检查字体是否安装成功
          fc-list :lang=zh | head -5

      - name: Install dependencies
        run: pip install mplfinance yfinance akshare requests tqdm bs4

      - name: Generate images
        run: python generate_image.py

      - name: Commit and push changes
        run: |
          git config --global user.name 'GitHub Actions'
          #git config --global user.email 'actions@github.com'
          git add .
          git commit -m "Automated image update" || true
          git push origin main || true

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
